html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2f2f3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  color: rgb(242, 229, 51);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-box button {
  width: 90px;
  height: 90px;
  padding: 4px;
  margin: auto;
  background-color: burlywood;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(185, 145, 93);
}

.result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: rgb(242, 229, 51);
  font-size: 40px;
}

.btn-box {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.playAgain {
  width: 120px;
  height: 40px;
  background-color: #228a25;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.playAgain:hover {
  background-color: #1a731e;
}

.restart {
  width: 120px;
  height: 40px;
  background-color: #0668a4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.restart:hover {
  background-color:  #06598d;
}

.score {
  display: flex;
  flex-direction: row;
  gap: 84px;
  color: white;
  font-size: 14px;
  margin-bottom: 50px;
}

.score p {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 1px solid white;
  border-radius: 4px;
}

.score span {
  color: rgb(242, 229, 51);
  font-weight: bold;
}
